:root {
  --brand-color: #574ae8;
  --dark-10: #1a202c;
  --dark-20: #717171;
  --white: #fff;
  --white-variant: #f3f5f7;
  --message: #2962ff;
  --success: #0bb07b;
  --warning: #ffce52;
  --error: #f03d3d;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* CSS UTILITY */
.container {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}

h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.6rem);
  font-weight: 400;
}

h2 {
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
  font-weight: 400;
}

/* Components CSS */
.fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.c-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem 0;
  border-radius: 0.5rem;
  z-index: 10;
}

.fade,
.c-modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.c-modal.hide,
.fade.hide {
  opacity: 0;
  pointer-events: none;
}

.c-modal.hide {
  top: 0;
}

.c-button {
  border: 0;
  border-radius: 30px;
  padding: 1.2rem;
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);

  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* HEADER */
.c-header {
  background: linear-gradient(90deg, var(--brand-color) 0%, #3ea1db 100%);
  min-height: 200px;
  max-height: 250px;
  width: 100%;
}

.c-header__brand {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  padding: 48px 0;

  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
  color: var(--white);
}

/* Search Blog */
.c-search form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-search form span {
  position: absolute;
  left: 10px;
}

.c-search form span i {
  font-size: 1.5rem;
  color: var(--white);
}

.c-search__input {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  width: 100%;
  padding: 12px 12px 12px 40px;

  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  color: var(--white);
}

.c-search__input::placeholder {
  opacity: 0.5;
  color: var(--white);
}

.c-search__input:focus {
  outline: 0;
}

/* Main Section */
.c-main {
  margin: 32px 0;
}

/* Creator Post Blog */
.c-post-creator {
  text-align: center;
}

.c-post-creator__open-modal {
  border: none;
  padding: 16px 12px;
  border-radius: 4px;
  background-color: var(--brand-color);
  color: var(--white-variant);

  font-size: clamp(1.6rem, 2.5vw, 2.4rem);

  transition: all 0.5s ease;
  cursor: pointer;
}

.c-post-creator__open-modal:hover {
  opacity: 0.7;
}

/* Modal Creator Post */
.c-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  color: var(--dark-10);

  border-bottom: 2px solid var(--brand-color);
}
.c-modal__title {
  font-weight: 700;
}

.c-modal__title:first-child {
  margin-left: 1.2rem;
}

.c-modal__title:last-child {
  margin-right: 1.2rem;
}

.c-modal__body {
  padding: 1.2rem;
  display: flex;
  width: auto;
}

.c-modal__body form {
  width: 100%;
}

input,
textarea {
  border: 2px solid var(--brand-color);
  border-radius: 5px;
  padding: 1.2rem;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--brand-color);
}

textarea {
  resize: vertical;
  height: 200px;
}

label {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  margin-bottom: 1.6rem;
  width: 100%;
  text-align: left;

  display: flex;
  flex-direction: column;
}
.c-modal__actions {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.c-button--enviar {
  background-color: var(--brand-color);
  color: var(--white-variant);
  border: 1px solid var(--brand-color);
}

.c-button--enviar:hover {
  background-color: var(--white-variant);
  color: var(--brand-color);
}

.c-button--cancelar {
  border: 1px solid var(--error);
  color: var(--error);
}

.c-button--cancelar:hover {
  background-color: var(--error);
  color: var(--white-variant);
}
