:root {
  --brand-color: #574ae8;
  --dark-10: #1a202c;
  --dark-20: #717171;
  --white: #fff;
  --white-variant: #fff;
  --message: #2962ff;
  --success: #0bb07b;
  --warning: #ffce52;
  --error: #f03d3d;
}
